{% extends "first.njk" %}

{% block content %}
	{% for post in collections.posts %}
		<div class="width-text">
			<div class="post">
				<p class="mocktitle"><a href="/{{ post.path }}">{{ post.title }}</a> - <span class="publishdate">{{ post.publishDate }}</span></p>
				<p class="summary">{{ post.summary }}</p>
				<p class="tail"><a href="/{{ post.path }}">Read More</a></p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
