---
title: Monero Miner
---
{% extends "first.njk" %}

{% block scripts %}
<script src="https://authedmine.com/lib/simple-ui.min.js"></script>
{% endblock %}

{% block content %}
<div class="coinhive-miner"
	style="width: 256px; height: 310px"
	data-key="Fu5U0M2PbQmeN2G840E9j7SKtg3lJW7f">
</div>
{% endblock %}
