<!doctype html>
<html>
  <head>
    <title>{{ title }} | dConstructing</title>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    <footer>
      <a href="/mining/monero.html">Mine Monero</a>
    </footer>
  </body>
</html>
