{% extends "base.njk" %}

{% block scripts %}
<style>
	.hero.is-fullheight .hero-body {
		align-items: start;
	}
</style>
{% endblock %}

{% block content %}
	<div class="container">
		{% block pageContent %}{% endblock %}
	</div>
{% endblock %}
