---
title: Home
---
{% extends "home.njk" %}

{% block homeContent %}
	<div class="container has-text-centered">
		<h1 class="title">David Cox</h1>
		<h2>Software Engineer</h2>
	</div>
{% endblock %}
