---
title: Projects
---

{% extends "page.njk" %}

{% block pageContent %}
	<div class="box">
		<div class="content">
			<h2 class="title"><a href="/projects/mining/monero.html">Mining</a></h2>
			<p>Web-based cryptocurrency miner to use on the go.</p>
		</div>
	</div>
{% endblock %}
